*{
   --left-padding: 5vw;
}

body{
    background-color: lightblue;
    display: flex;
    margin: 0px;
}

form{
    background-color: azure;
}

.splash{
    background-color: lightgreen;
    width: 40vw;
    height: 100vh;
}

.signup{
    background-color: lightcoral;
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.intro-text{
    font-size: 1.7rem;
    max-width: 50ch;
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.intro-text > p{
    margin: 0px;
}


.inputs{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 20px;
 padding-left: var(--left-padding);
 box-shadow: 1px 1px 5px rgb(218, 218, 218);
 padding-bottom: 20px;
 border-top: 1px solid;
}

.inputfield{
 width: 40%;
 margin-right: 60px
}

label,input{
display: block;
width: 100%;
font-size: 1.2rem;
}

button{
    margin-top: 30px;
    width: 30%;
    height: 40px;
    font-size: 1.7rem;
    padding: 0px;

}
.account-access{
    padding-left: var(--left-padding);
    display: flex;
    flex-direction: column ;
}
.account-prompt{
    font-size: 1rem;
}
