*{
   --left-padding: 5vw;
   --background-color:#f9f9f9;
   
}

body{
    background-color: lightblue;
    display: flex;
    margin: 0px;
    color: blueviolet;
}

form{
    background-color: azure;
}

.splash{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../images/stars.jpg");
}

.signup{
    background-color: var(--background-color);
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.intro-text{
    font-size: 1.7rem;
    max-width: 50ch;
    padding-left: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.intro-text > p{
    margin: 0px;
}


.inputs{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 20px;
 padding-left: var(--left-padding);
 box-shadow: 2px 2px 3px rgb(206, 206, 206);
 padding-bottom: 20px;
 border-top: 1px solid; 
  border-color: rgb(225, 225, 225);
 background-color: white;
 margin-bottom: 5px;
}

.inputfield{
 width: 40%;
 margin-right: 60px
}

label,input{
display: block;
width: 100%;
font-size: 1.2rem;
border-radius: 7px;
}

button{
    margin-top: 30px;
    width: 30%;
    height: 40px;
    font-size: 1.7rem;
    padding: 0px;
    border-radius: 9px;

}
.account-access{
    padding-left: var(--left-padding);
    display: flex;
    flex-direction: column ;
    background-color: var(--background-color);
}
.account-prompt{
    font-size: 1rem;
}
 .banner{
    position: relative;
    background-color: #8a2be24f;
    top: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    
 }

 .banner img{
    height: 12vh;
 }

 h1{
    margin: 0px;
    font-size: 5rem;
    color:white ;
 }
 h2{
    flex: 0 0 100%
 }